#systems {
	position:absolute;
	top:3em;
	left:10px;
	padding:0.5em;
	width:30%;
	height:42%;
	background-color:#F1F1EB;
	overflow:hidden;
}


#collabs {
	position:absolute;
	bottom:10px;
	left:10px;
	width:30%;
	height:42%;
	padding:0.5em;
	background-color:#F1F1EB;
	overflow:hidden;
}


#stats {
	position:absolute;
	top:3em;
	right:10px;
	bottom:10px;
	width:66%;
	height:auto;
	color:#000;
	padding:0.5em;
	background-color:#F1F1EB;
	overflow:auto;
}

#system, .collab {
	color:#E3E3E3;
	font-size:larger;
	background-color:#777;
	width:95%;
	margin:auto;
	padding:0.5em;
	margin-top:0.5em;

	-moz-border-radius:0.5em;
	border-radius:0.5em;
}

html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#212526;
}

#SysStat {
	background-color:#222;
	color:#E3E3E3;
	width:95%;
	clear:both;
	margin:auto;
	border:none;
	border-radius: 1em;
}

#stat {
	background-color:#777;
	min-width:9em;
	height:7em;
	float:left;
	margin:0.5em;
	padding:0.5em;
	-moz-border-bottom-left-radius: 0.5em;
	-moz-border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.collab .panel {
	background-color:#F00;
	position:relative;
	top:2em;
	height:0;
	overflow:hidden;
	-moz-transition-duration:0.75s;
	-moz-transition-property:all;
	-moz-transition-timing-function:linear;
	-webkit-transition-duration:0.75s;
	-webkit-transition-property:all;
	-webkit-transition-timing-function:linear;

	transition-duration:0.75s;
	transition-property:all;
	transition-timing-function:linear;
}

#systemsContent, #collabsContent {
	height:84%;
	overflow:auto;
}


#buildInfo {
	right:1em;
	top:1em;
	position:absolute;
	width:auto;
}

#statsContent, #outVidContent {
	overflow:auto;
}

#stats h2, #systems h3, #collabs h3 {
	border-bottom-width:thin;
	border-color:#000;
	border-bottom-style:solid;
}

table {
	width:95%;
	margin:auto;
	text-align:center;
}

#sysDropDown {
	position:absolute;
	top:0;
	right:0;
	-moz-transition-duration:1s;
	-moz-transition-property:all;
	-moz-transition-timing-function:linear;
	-webkit-transition-duration:1s;
	-webkit-transition-property:all;
	-webkit-transition-timing-function:linear;

	transition-duration:1s;
	transition-property:all;
	transition-timing-function:linear;
	overflow:hidden;
	height:20px;
	background-color:#E3E3E3;
	border-bottom-left-radius:0.5em;
	border-bottom-right-radius:0.5em;
	margin-right:10px;
	cursor:pointer;
}

