.stats {
	position:absolute;
	top:3em;
	bottom:10px;
	left:1.3%;
	width:97.39%;
	height:auto;
	color:#000;
	background-color:#F1F1EB;
	overflow:auto;
	-moz-transition-duration:0.75s;
	-moz-transition-property:all;
	-moz-transition-timing-function:linear;
	-webkit-transition-duration:0.75s;
	-webkit-transition-property:all;
	-webkit-transition-timing-function:linear;

	transition-duration:0.75s;
	transition-property:all;
	transition-timing-function:linear;
}

html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#212526;
}

.SysStat {
	background-color:#222;
	color:#E3E3E3;
	width:95%;
	clear:both;
	margin:auto;
	border:none;
	border-radius: 1em;
}

.stat {
	background-color:#777;
	min-width:9em;
	height:7em;
	float:left;
	margin:0.5em;
	padding:0.5em;
	-moz-border-bottom-left-radius: 0.5em;
	-moz-border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

#buildInfo {
	right:4em;
	top:1em;
	position:absolute;
	width:auto;
}

#statsContent {
	overflow:auto;
	margin-left:0.5em;
	margin-right:0.5em;
	margin-bottom:0.5em;
}

.stats h2 {
	border-bottom-width:thin;
	border-color:#000;
	border-bottom-style:solid;
	margin-top:1.25em;
	margin-left:0.5em;
	margin-right:0.5em;
}

.stats h3 {
	clear:both;
}

table {
	width:95%;
	margin:auto;
	text-align:center;
}

.sysDropDown {
	position:absolute;
	top:0;
	right:10px;
	-moz-transition-duration:0.75s;
	-moz-transition-property:all;
	-moz-transition-timing-function:linear;
	-webkit-transition-duration:0.75s;
	-webkit-transition-property:all;
	-webkit-transition-timing-function:linear;

	transition-duration:0.75s;
	transition-property:all;
	transition-timing-function:linear;
	overflow:hidden;
	width:90px;
	height:20px;
	background-color:#E3E3E3;
	border-bottom-left-radius:0.5em;
	border-bottom-right-radius:0.5em;
	cursor:pointer;
}

.statButton {
	cursor:pointer;
	position:absolute;
	right:1em;
	top:1em;
}

#systemSelector {
	position:absolute;
	top:5px;
	left:5px;
}

#multiStat {
	width:100%;
}

.closeButtonBottom {
	width:1em;
	height:1em;
	top:0;
	right:0;
	background-image:url(images/close-hover.png);
	position:absolute;
}
.closeButton {
	width:1em;
	height:1em;
	top:0;
	right:0;
	background-image:url(images/close.png);
	position:absolute;
	cursor:pointer;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.closeButton:hover {
	opacity:0;
}
