#systems {
	position:absolute;
	top:3em;
	left:10px;
	padding:0.5em;
	width:46%;
	height:42%;
	background-color:#700000;
}

#collabs {
	position:absolute;
	bottom:10px;
	left:10px;
	width:46%;
	height:42%;
	padding:0.5em;
	background-color:#007000;
}

#stats {
	position:absolute;
	top:3em;
	right:10px;
	bottom:10px;
	width:46%;
	height:auto;
	color:#AAA;
	padding:0.5em;
	background-color:#000070;
}

#system, #collab {
	background-color:#AAA;
	width:95%;
	margin:auto;
	height:3em;
	padding:0.5em;
}

#collab {

}

html {
	background-image:url('images/black_pattern01.jpg');

}
